body {
  background-color: light-dark(#fff, #23222b);
  color: light-dark(#15141a, #fbfbfe);
  font-family: "Segoe UI";
  font-size: 15px;
}

.option {
  padding: 16px;
  border-bottom: 1px solid light-dark(#d7d7db, rgba(249, 249, 250, 0.2));
}

.option-input {
  display: flex;
  justify-content: space-between;

  input[type="checkbox"] {
    margin-right: 4px;
  }
}

.option-description {
  color: #a1a0a6;
  padding-top: 4px;
}
